:root {
  --bg-color-1: #70fbb8;
  --bg-color-2: #0f98e4;
  --bg-color-light: #e4e3e3;
  --white: white;
  --yellow: #f2c94c;
  --yellow-darken: #997d32;
  --red: #eb5757;
  --orange: #f2994a;
  --orange-darken: #a46932; }

body {
  position: relative;
  background: var(--bg-color-light);
  font-family: 'Roboto', sans-serif; }

.outer-container {
  display: flex;
  flex-grow: 1; }
  .outer-container .inner-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; }
    @media (max-width: 1399px) {
      .outer-container .inner-container {
        padding: 0 60px; } }
  .outer-container .heading-container {
    position: relative;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #d2333a;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif; }
  .outer-container .layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d2333a;
    mix-blend-mode: color-dodge; }

.button {
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out; }

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
  padding: 1% 0;
  background: var(--bg-color-light);
  box-shadow: 0 0 5px black; }
  header nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    header nav .navigation {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      @media (max-width: 991px) {
        header nav .navigation {
          display: inline-block;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease-in-out; } }
      header nav .navigation ul {
        padding: 0;
        margin: 0;
        background-color: #e4e3e3; }
      header nav .navigation li {
        display: flex;
        margin: 5px 0;
        font-size: 25px;
        list-style: none; }
        header nav .navigation li a {
          text-decoration: none; }
    header nav .burger {
      display: none;
      align-self: center;
      width: 36px;
      height: 19px;
      padding: 0;
      margin-right: 20px;
      cursor: pointer;
      background: none;
      border: 0;
      border-bottom: 4px solid #4e4e4e;
      outline: 0;
      transition: border-bottom 1s ease-in-out; }
      header nav .burger::-moz-focus-inner {
        padding: 0;
        border: 0; }
      header nav .burger::before {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        content: "";
        border-bottom: 4px solid #4e4e4e;
        transition: transform 0.5s ease-in-out; }
      header nav .burger::after {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        content: "";
        border-bottom: 4px solid #4e4e4e;
        transition: transform 0.5s ease-in-out; }
      @media (max-width: 991px) {
        header nav .burger {
          display: inline-block; } }
    header nav .burger-check {
      display: none; }
    header nav .burger-check:checked ~ .burger {
      background: rgba(0, 0, 0, 0.2); }
    header nav .burger-check:checked ~ .navigation {
      max-height: 500px;
      transition: max-height 0.5s ease-in-out; }
    header nav .button-like {
      padding: 5px 25px;
      font-size: 1.2rem;
      color: var(--white);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      background: var(--orange);
      border: 4px solid rgba(0, 0, 0, 0);
      border-radius: 25px;
      transition: background-color 0.5s ease-in;
      font-family: 'Roboto', sans-serif; }
      header nav .button-like__selected {
        background: var(--red);
        border: 4px solid var(--white); }
    header nav .button-like:hover {
      background: var(--orange-darken); }
    header nav .button-like:active {
      background: var(--red);
      border: 4px solid var(--white); }
    header nav .menu {
      display: flex;
      width: 100%;
      max-width: 650px; }
      header nav .menu .button-like {
        width: 90px;
        background: var(--yellow); }
        header nav .menu .button-like__selected {
          background: var(--red);
          border: 4px solid var(--white); }
      header nav .menu .button-like:hover {
        background: var(--yellow-darken); }
      header nav .menu .button-like:active {
        background: var(--red); }
      @media (max-width: 991px) {
        header nav .menu {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content; } }
    header nav .side-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 250px; }

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px 50px;
  margin: 0 auto;
  text-align: center; }
  .form .heading {
    font-size: 24px;
    font-weight: bold;
    color: #400e1e;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif; }
  .form .input {
    width: 100%;
    height: 24px;
    padding: 1% 5%;
    background: #e4e3e3;
    border: 2px solid #6fcaff; }
    .form .input__incorrect {
      border: 2px solid #d2333a; }
  .form label {
    display: flex;
    justify-content: center;
    min-width: 50%;
    margin: 15px auto auto; }
  .form label:nth-child(2) {
    margin-top: 30px; }
  .form .input:focus {
    border: 2px solid #005f94;
    outline: none; }
  .form .button {
    width: 100%;
    padding: 10px 0;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #40bbff;
    border-radius: 2px;
    transition: background-color 0.5s ease-in-out; }
  .form .button:hover {
    background: #2a92cb; }
  .form .button:active {
    background: #40bbff; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1% 0;
  background: var(--bg-color-light); }
  footer .politics {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: flex-start; }
    footer .politics .politics-item {
      margin-right: 5%; }
      @media (max-width: 767px) {
        footer .politics .politics-item {
          margin: auto 0; } }
    @media (max-width: 767px) {
      footer .politics {
        flex-direction: column;
        align-items: flex-start; } }
  footer .social {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; }
    footer .social .social-item {
      margin-left: 5%; }
      footer .social .social-item img {
        border-radius: 15px; }

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.horizontal-wrapper {
  display: flex;
  justify-content: space-between; }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

:root {
  scrollbar-width: thin; }

@media (max-width: 991px) {
  table tbody {
    font-size: 24px; } }

:root {
  --bg-color-1: #70fbb8;
  --bg-color-2: #0f98e4;
  --bg-color-light: #e4e3e3;
  --white: white;
  --yellow: #f2c94c;
  --yellow-darken: #997d32;
  --red: #eb5757;
  --orange: #f2994a;
  --orange-darken: #a46932; }

.auth-outer {
  min-height: 100vh;
  background-image: linear-gradient(270deg, var(--bg-color-1) -0.9%, var(--bg-color-2) 108.03%); }
  .auth-outer .auth-inner {
    flex-direction: column;
    justify-content: center;
    --mx-width: 60%; }
    @media (max-width: 991px) {
      .auth-outer .auth-inner {
        justify-content: flex-start;
        margin-top: 200px;
        --mx-width: 90%; } }
    .auth-outer .auth-inner .auth-form {
      position: relative;
      max-width: var(--mx-width);
      background: linear-gradient(195deg, #fff 34.79%, rgba(255, 255, 255, 0) 51.18%), linear-gradient(242deg, #fff 37.27%, rgba(255, 255, 255, 0) 47.93%), url(../images/auth-img.jpg);
      border-radius: 5px; }
      .auth-outer .auth-inner .auth-form .heading {
        font-size: 28px;
        color: #400e1e; }
      .auth-outer .auth-inner .auth-form .error {
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 10px;
        margin: auto;
        font-weight: bold;
        color: #d2333a;
        visibility: hidden;
        background: rgba(249, 241, 235, 0.9);
        border-radius: 5px; }
    .auth-outer .auth-inner .helper {
      box-sizing: border-box;
      width: 100%;
      max-width: var(--mx-width);
      padding: 20px;
      margin: 40px auto;
      text-align: center;
      background: linear-gradient(159.48deg, #fff 22.18%, rgba(255, 255, 255, 0) 155.44%), url(../images/vinewood-streets-background.jpg) 0 -400px;
      border-radius: 5px; }
      .auth-outer .auth-inner .helper h2 {
        margin-bottom: 20px;
        font-size: 18px;
        color: #400e1e;
        text-transform: uppercase;
        font-family: 'Nunito', sans-serif; }
      .auth-outer .auth-inner .helper span a {
        color: #005f94;
        text-decoration: underline; }
