:root {
  --bg-color-1: #70fbb8;
  --bg-color-2: #0f98e4;
  --bg-color-light: #e4e3e3;
  --white: white;
  --yellow: #f2c94c;
  --yellow-darken: #997d32;
  --red: #eb5757;
  --orange: #f2994a;
  --orange-darken: #a46932; }

body {
  position: relative;
  background: var(--bg-color-light);
  font-family: 'Roboto', sans-serif; }

.outer-container {
  display: flex;
  flex-grow: 1; }
  .outer-container .inner-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; }
    @media (max-width: 1399px) {
      .outer-container .inner-container {
        padding: 0 60px; } }
  .outer-container .heading-container {
    position: relative;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #d2333a;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif; }
  .outer-container .layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d2333a;
    mix-blend-mode: color-dodge; }

.button {
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out; }

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
  padding: 1% 0;
  background: var(--bg-color-light);
  box-shadow: 0 0 5px black; }
  header nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    header nav .navigation {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      @media (max-width: 991px) {
        header nav .navigation {
          display: inline-block;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease-in-out; } }
      header nav .navigation ul {
        padding: 0;
        margin: 0;
        background-color: #e4e3e3; }
      header nav .navigation li {
        display: flex;
        margin: 5px 0;
        font-size: 25px;
        list-style: none; }
        header nav .navigation li a {
          text-decoration: none; }
    header nav .burger {
      display: none;
      align-self: center;
      width: 36px;
      height: 19px;
      padding: 0;
      margin-right: 20px;
      cursor: pointer;
      background: none;
      border: 0;
      border-bottom: 4px solid #4e4e4e;
      outline: 0;
      transition: border-bottom 1s ease-in-out; }
      header nav .burger::-moz-focus-inner {
        padding: 0;
        border: 0; }
      header nav .burger::before {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        content: "";
        border-bottom: 4px solid #4e4e4e;
        transition: transform 0.5s ease-in-out; }
      header nav .burger::after {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        content: "";
        border-bottom: 4px solid #4e4e4e;
        transition: transform 0.5s ease-in-out; }
      @media (max-width: 991px) {
        header nav .burger {
          display: inline-block; } }
    header nav .burger-check {
      display: none; }
    header nav .burger-check:checked ~ .burger {
      background: rgba(0, 0, 0, 0.2); }
    header nav .burger-check:checked ~ .navigation {
      max-height: 500px;
      transition: max-height 0.5s ease-in-out; }
    header nav .button-like {
      padding: 5px 25px;
      font-size: 1.2rem;
      color: var(--white);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      background: var(--orange);
      border: 4px solid rgba(0, 0, 0, 0);
      border-radius: 25px;
      transition: background-color 0.5s ease-in;
      font-family: 'Roboto', sans-serif; }
      header nav .button-like__selected {
        background: var(--red);
        border: 4px solid var(--white); }
    header nav .button-like:hover {
      background: var(--orange-darken); }
    header nav .button-like:active {
      background: var(--red);
      border: 4px solid var(--white); }
    header nav .menu {
      display: flex;
      width: 100%;
      max-width: 650px; }
      header nav .menu .button-like {
        width: 90px;
        background: var(--yellow); }
        header nav .menu .button-like__selected {
          background: var(--red);
          border: 4px solid var(--white); }
      header nav .menu .button-like:hover {
        background: var(--yellow-darken); }
      header nav .menu .button-like:active {
        background: var(--red); }
      @media (max-width: 991px) {
        header nav .menu {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content; } }
    header nav .side-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 250px; }

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px 50px;
  margin: 0 auto;
  text-align: center; }
  .form .heading {
    font-size: 24px;
    font-weight: bold;
    color: #400e1e;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif; }
  .form .input {
    width: 100%;
    height: 24px;
    padding: 1% 5%;
    background: #e4e3e3;
    border: 2px solid #6fcaff; }
    .form .input__incorrect {
      border: 2px solid #d2333a; }
  .form label {
    display: flex;
    justify-content: center;
    min-width: 50%;
    margin: 15px auto auto; }
  .form label:nth-child(2) {
    margin-top: 30px; }
  .form .input:focus {
    border: 2px solid #005f94;
    outline: none; }
  .form .button {
    width: 100%;
    padding: 10px 0;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #40bbff;
    border-radius: 2px;
    transition: background-color 0.5s ease-in-out; }
  .form .button:hover {
    background: #2a92cb; }
  .form .button:active {
    background: #40bbff; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1% 0;
  background: var(--bg-color-light); }
  footer .politics {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: flex-start; }
    footer .politics .politics-item {
      margin-right: 5%; }
      @media (max-width: 767px) {
        footer .politics .politics-item {
          margin: auto 0; } }
    @media (max-width: 767px) {
      footer .politics {
        flex-direction: column;
        align-items: flex-start; } }
  footer .social {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; }
    footer .social .social-item {
      margin-left: 5%; }
      footer .social .social-item img {
        border-radius: 15px; }

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.horizontal-wrapper {
  display: flex;
  justify-content: space-between; }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

:root {
  scrollbar-width: thin; }

.lk-outer {
  min-height: 100vh;
  background-image: linear-gradient(270deg, var(--bg-color-2) -0.9%, var(--bg-color-1) 108.03%); }
  .lk-outer .lk-inner {
    display: grid;
    grid-template: "head head head head head" 120px "profile details details details panel" fit-content(8ch) "profile details details details panel" fit-content(8ch) "info details details details panel" 60px/500px 1.25fr 1.25fr 0.5fr minmax(100px, 0.25fr);
    grid-gap: 20px;
    margin: 10% auto 10%; }
    @media (max-width: 991px) {
      .lk-outer .lk-inner {
        grid-template: "head head head head head" fit-content(8ch) "profile profile profile profile panel" fit-content(8ch) "profile profile profile profile panel" fit-content(8ch) "profile profile profile profile ." fit-content(8ch) "info info info info ." fit-content(8ch) "details details details details ." fit-content(8ch)/2fr 1.25fr 1.25fr 0.5fr minmax(100px, 0.25fr);
        grid-gap: 15px; } }

.grid-card {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: white;
  border-radius: 5px; }

.head {
  display: flex;
  grid-area: head;
  justify-content: space-between;
  background: linear-gradient(95.25deg, #fff 51.59%, rgba(255, 255, 255, 0) 65.1%), url(../images/vinewood-streets-background.jpg) 0 -600px no-repeat;
  background-size: 1500px; }
  .head h1 {
    font-size: 36px;
    font-family: 'Nunito', sans-serif; }
  .head h2 {
    font-size: 24px;
    font-family: 'Nunito', sans-serif; }
  .head .controls {
    display: flex;
    align-items: center;
    justify-self: flex-end; }
    .head .controls .leave-button {
      padding: 10px;
      color: white;
      background: #b20910; }
    .head .controls .leave-button:hover {
      background: #72060b; }
    .head .controls .leave-button:active {
      background: #b20910; }
  @media (max-width: 991px) {
    .head {
      background: linear-gradient(95.25deg, #fff 66.59%, rgba(255, 255, 255, 0) 86.1%), url(../images/vinewood-streets-background.jpg) 0 -320px no-repeat; } }

.profile {
  flex-direction: column;
  grid-area: profile;
  background: linear-gradient(102.72deg, #fff 20%, rgba(255, 255, 255, 0) 40%), url(../images/city.jpg) -300px 0 no-repeat;
  background-size: 1000px;
  font-family: 'Nunito', sans-serif; }
  .profile h2 {
    font-size: 26px;
    text-transform: uppercase; }
  .profile .avatar-frame {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 20px 20px 0 0; }
    .profile .avatar-frame .avatar {
      position: relative;
      width: 125px;
      height: 125px;
      overflow: hidden;
      border-radius: 50%; }
      .profile .avatar-frame .avatar img {
        position: absolute;
        left: -45px;
        height: 175px; }
    .profile .avatar-frame .lvl {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 2px 20px;
      margin: 0 auto;
      font-size: 26px;
      font-weight: bold;
      color: white;
      background: var(--yellow);
      border-radius: 5px; }
      .profile .avatar-frame .lvl::after {
        content: " lvl";
        font-family: 'Roboto', sans-serif; }
  .profile table {
    width: 100%; }
    .profile table .i {
      font-size: 28px;
      font-weight: bold;
      color: #d2333a;
      font-family: 'Nunito', sans-serif; }
    .profile table .i-h {
      font-size: 24px;
      color: #400e1e; }
    .profile table th {
      padding: 7.5px;
      text-align: left; }
  @media (max-width: 991px) {
    .profile {
      background: linear-gradient(102.72deg, #fff 60%, rgba(255, 255, 255, 0) 80%), url(../images/city.jpg) 0 0 no-repeat; } }

.info {
  grid-area: info;
  background: linear-gradient(24.22deg, #fff 46.39%, rgba(255, 255, 255, 0) 120%), url(../images/los-santos.jpg) -266px -445px no-repeat; }
  .info table {
    width: 100%;
    font-size: 0.75rem;
    font-family: 'Nunito', sans-serif; }

.details {
  flex-direction: column;
  grid-area: details;
  background: linear-gradient(216.68deg, #fff 70%, rgba(255, 255, 255, 0) 100%), url(../images/autoban.jpg) -100px -50px no-repeat;
  background-size: 1000px;
  font-family: 'Nunito', sans-serif; }
  .details .sec-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px; }
    .details .sec-wrapper h3 {
      text-transform: uppercase; }
    .details .sec-wrapper .sec {
      display: flex;
      flex-direction: column; }
    .details .sec-wrapper .sec-1 {
      width: 30%; }
    .details .sec-wrapper .sec-2 {
      width: 45%; }
  .details table {
    width: 100%;
    margin-top: 20px;
    text-align: left; }
    .details table td {
      padding: 7.5px; }
    .details table .money::after {
      content: " $"; }
    .details table .accent {
      font-size: 22px;
      font-weight: bold;
      color: #d2333a; }
  .details .cars-wrapper {
    flex-grow: 1;
    overflow: hidden; }
  .details .cars {
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
    scrollbar-width: thin; }
    .details .cars .car-item {
      position: relative;
      display: inline-flex;
      width: 100%;
      margin-top: 20px;
      background: #eae5c8; }
    .details .cars .car-item:first-child {
      margin-top: 0; }
    .details .cars .car-info {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      text-align: right; }
    .details .cars .car-price {
      position: absolute;
      right: 0;
      bottom: -20px;
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 2px 10px;
      margin: 2px;
      font-size: 0.75rem;
      color: white;
      background: black;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; }
    .details .cars .car-price::after {
      content: " $"; }
  .details .replenish-button {
    width: 200px;
    padding: 10px;
    margin-top: 40px;
    font-weight: bold;
    color: white;
    background: var(--orange); }
  .details .replenish-button:hover {
    background: var(--orange-darken); }
  .details .replenish-button:active {
    background: var(--orange); }
  .details h2 {
    font-size: 26px;
    text-transform: uppercase; }
  @media (max-width: 991px) {
    .details {
      background: linear-gradient(216.68deg, #fff 70%, rgba(255, 255, 255, 0) 100%), url(../images/autoban.jpg) -100px -400px no-repeat; } }

.characters {
  grid-area: panel; }
