:root {
  --bg-color-1: #70fbb8;
  --bg-color-2: #0f98e4;
  --bg-color-light: #e4e3e3;
  --white: white;
  --yellow: #f2c94c;
  --yellow-darken: #997d32;
  --red: #eb5757;
  --orange: #f2994a;
  --orange-darken: #a46932; }
