@import 'vars';

$transition-regular-speed: .5s;
$font-size-buttons-big: 1.2rem;
$vertical-margin: 6rem;

body {
    position: relative;
    background: var(--bg-color-light);

    @include font-roboto;
}

.outer-container {
    display: flex;
    flex-grow: 1;

    .inner-container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        max-width: $screen-xl + 200px;
        margin: 0 auto;

        @media (max-width: $screen-xl + 200px - 1) {
            padding: 0 60px;
        }
    }

    .heading-container {
        position: relative;
        width: 100%;
        font-size: 32px;
        font-weight: bold;
        color: #d2333a;
        text-align: center;
        text-transform: uppercase;

        @include font-nunito;
    }

    .layout {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #d2333a;
        mix-blend-mode: color-dodge;
    }
}

.button {
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color $transition-regular-speed ease-in-out;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 20;
    padding: 1% 0;
    background: var(--bg-color-light);
    box-shadow: 0 0 5px black;

    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        $navigation__transition: max-height 0.5s ease-in-out;

        .navigation {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media (max-width: $screen-md-max) {
                display: inline-block;
                max-height: 0;
                overflow: hidden;
                transition: $navigation__transition;
            }

            ul {
                padding: 0;
                margin: 0;
                background-color: #e4e3e3;
            }

            li {
                display: flex;
                margin: 5px 0;
                font-size: 25px;
                list-style: none;

                a {
                    text-decoration: none;
                }
            }
        }

        $burger--thickness: 4px;

        .burger {
            $width: 36px;
            $height: 19px;

            --color: #4e4e4e;

            display: none;
            align-self: center;
            width: $width;
            height: $height;
            padding: 0;
            margin-right: 20px;
            cursor: pointer;
            background: none;
            border: 0;
            border-bottom: $burger--thickness solid var(--color);
            outline: 0;
            transition: border-bottom 1s ease-in-out;

            &::-moz-focus-inner {
                padding: 0;
                border: 0;
            }

            &::before {
                display: block;
                width: 100%;
                margin-bottom: 5px;
                content: "";
                border-bottom: $burger--thickness solid var(--color);
                transition: transform 0.5s ease-in-out;
            }

            &::after {
                display: block;
                width: 100%;
                margin-bottom: 5px;
                content: "";
                border-bottom: $burger--thickness solid var(--color);
                transition: transform 0.5s ease-in-out;
            }

            @media (max-width: $screen-md-max) {
                display: inline-block;
            }
        }

        .burger-check {
            display: none;
        }

        .burger-check:checked ~ .burger {
            background: rgba(black, 0.2);
        }

        .burger-check:checked ~ .navigation {
            max-height: 500px;
            transition: $navigation__transition;
        }

        .button-like {
            padding: 5px 25px;
            font-size: $font-size-buttons-big;
            color: var(--white);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            background: var(--orange);
            border: 4px solid rgba(0, 0, 0, 0);
            border-radius: 25px;
            transition: background-color $transition-regular-speed ease-in;

            @include font-roboto;

            &__selected {
                background: var(--red);
                border: 4px solid var(--white);
            }
        }

        .button-like:hover {
            background: var(--orange-darken);
        }

        .button-like:active {
            background: var(--red);
            border: 4px solid var(--white);
        }

        .menu {
            display: flex;
            width: 100%;
            max-width: 650px;

            .button-like {
                width: 90px;
                background: var(--yellow);

                &__selected {
                    background: var(--red);
                    border: 4px solid var(--white);
                }
            }

            .button-like:hover {
                background: var(--yellow-darken);
            }

            .button-like:active {
                background: var(--red);
            }

            @media (max-width: $screen-md-max) {
                width: fit-content;
            }
        }

        .side-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            min-width: 250px;
        }
    }
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 50px;
    margin: 0 auto;
    text-align: center;

    .heading {
        font-size: 24px;
        font-weight: bold;
        color: #400e1e;
        text-transform: uppercase;

        @include font-nunito;
    }

    .input {
        width: 100%;
        height: 24px;
        padding: 1% 5%;
        background: #e4e3e3;
        border: 2px solid #6fcaff;

        &__incorrect {
            border: 2px solid #d2333a;
        }
    }

    label {
        display: flex;
        justify-content: center;
        min-width: 50%;
        margin: 15px auto auto;
    }

    label:nth-child(2) {
        margin-top: 30px;
    }

    .input:focus {
        border: 2px solid #005f94;
        outline: none;
    }

    .button {
        width: 100%;
        padding: 10px 0;
        margin: 20px auto;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background: #40bbff;
        border-radius: 2px;
        transition: background-color $transition-regular-speed ease-in-out;
    }

    .button:hover {
        background: #2a92cb;
    }

    .button:active {
        background: #40bbff;
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1% 0;
    background: var(--bg-color-light);

    .politics {
        display: flex;
        flex-grow: 2;
        align-items: center;
        justify-content: flex-start;

        .politics-item {
            margin-right: 5%;

            @media (max-width: $screen-sm-max) {
                margin: auto 0;
            }
        }

        @media (max-width: $screen-sm-max) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .social {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        .social-item {
            margin-left: 5%;

            img {
                border-radius: 15px;
            }
        }
    }
}

.vertical-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.horizontal-wrapper {
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

:root {
    scrollbar-width: thin;
}

table {
    tbody {
        @media (max-width: $screen-md-max) {
            font-size: 24px;
        }
    }
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Roboto/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Roboto/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Roboto/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Roboto/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Roboto/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Nunito/nunito-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Nunito/nunito-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Nunito/nunito-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Nunito/nunito-v16-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-600 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Nunito/nunito-v16-latin-600.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Nunito/nunito-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Nunito/nunito-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Nunito/nunito-v16-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-700 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Nunito/nunito-v16-latin-700.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Nunito/nunito-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Nunito/nunito-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Nunito/nunito-v16-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-800 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Nunito/nunito-v16-latin-800.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Nunito/nunito-v16-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Nunito/nunito-v16-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-800.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Nunito/nunito-v16-latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-900 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Nunito/nunito-v16-latin-900.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/Nunito/nunito-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Nunito/nunito-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Nunito/nunito-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Nunito/nunito-v16-latin-900.svg#Nunito') format('svg'); /* Legacy iOS */
}
