@import "elements";

.lk-outer {
    min-height: 100vh;
    background-image: linear-gradient(270deg, var(--bg-color-2) -0.9%, var(--bg-color-1) 108.03%);

    .lk-inner {
        display: grid;
        grid-template:
            "head head head head head" 120px
            "profile details details details panel" fit-content(8ch)
            "profile details details details panel" fit-content(8ch)
            "info details details details ." 60px/ 500px 1.25fr 1.25fr 0.5fr minmax(100px, 0.25fr);
        grid-gap: 20px;
        margin: 10% auto 100px;

        @media (max-width: $screen-md-max) {
            grid-template:
                "head head head head head" fit-content(8ch)
                "profile profile profile profile panel" fit-content(8ch)
                "profile profile profile profile panel" fit-content(8ch)
                "profile profile profile profile panel" fit-content(8ch)
                "info info info info ." fit-content(8ch)
                "details details details details ." fit-content(8ch)/2fr 1.25fr 1.25fr 0.5fr minmax(100px, 0.25fr);
            grid-gap: 15px;
        }
    }
}

.grid-card {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.head {
    display: flex;
    grid-area: head;
    justify-content: space-between;
    background:
        linear-gradient(95.25deg, #fff 51.59%, rgba(255, 255, 255, 0) 65.1%),
        url(../images/vinewood-streets-background.jpg) 0 -600px no-repeat;
    background-size: 1500px;

    h1 {
        font-size: 36px;

        @include font-nunito;
    }

    h2 {
        font-size: 24px;

        @include font-nunito;
    }

    .controls {
        display: flex;
        align-items: center;
        justify-self: flex-end;

        .leave-button {
            padding: 10px;
            color: white;
            background: #b20910;
        }

        .leave-button:hover {
            background: #72060b;
        }

        .leave-button:active {
            background: #b20910;
        }
    }

    @media (max-width: $screen-md-max) {
        background:
            linear-gradient(95.25deg, #fff 66.59%, rgba(255, 255, 255, 0) 86.1%),
            url(../images/vinewood-streets-background.jpg) 0 -320px no-repeat;
    }
}

.profile {
    flex-direction: column;
    grid-area: profile;
    background:
        linear-gradient(102.72deg, #fff 20%, rgba(255, 255, 255, 0) 40%),
        url(../images/city.jpg) -300px 0 no-repeat;
    background-size: 1000px;

    @include font-nunito;

    h2 {
        font-size: 26px;
        text-transform: uppercase;
    }

    .avatar-frame {
        position: relative;
        width: fit-content;
        height: fit-content;
        margin: 20px 20px 0 0;

        .avatar {
            position: relative;
            width: 125px;
            height: 125px;
            overflow: hidden;
            border-radius: 50%;

            img {
                position: absolute;
                left: -45px;
                height: 175px;
            }
        }

        .lvl {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            width: fit-content;
            padding: 2px 20px;
            margin: 0 auto;
            font-size: 26px;
            font-weight: bold;
            color: white;
            background: var(--yellow);
            border-radius: 5px;

            &::after {
                content: " lvl";

                @include font-roboto;
            }
        }
    }

    table {
        width: 100%;

        .i {
            font-size: 28px;
            font-weight: bold;
            color: #d2333a;

            @include font-nunito;
        }

        .i-h {
            font-size: 24px;
            color: #400e1e;
        }

        th {
            padding: 7.5px;
            text-align: left;
        }
    }

    @media (max-width: $screen-md-max) {
        background:
            linear-gradient(102.72deg, #fff 60%, rgba(255, 255, 255, 0) 80%),
            url(../images/city.jpg) 0 0 no-repeat;
    }
}

.info {
    grid-area: info;
    background:
        linear-gradient(24.22deg, #fff 46.39%, rgba(255, 255, 255, 0) 120%),
        url(../images/los-santos.jpg) -266px -445px no-repeat;

    table {
        width: 100%;
        font-size: 0.75rem;

        tbody {
            @media (max-width: $screen-md-max) {
                font-size: 1rem;
            }
        }

        @include font-nunito;
    }
}

.details {
    flex-direction: column;
    grid-area: details;
    background:
        linear-gradient(216.68deg, #fff 70%, rgba(255, 255, 255, 0) 100%),
        url(../images/autoban.jpg) -100px -100px no-repeat;
    background-size: 1000px;

    @media (max-width: $screen-lg-max) {
        background:
            linear-gradient(216.68deg, #fff 70%, rgba(255, 255, 255, 0) 100%),
            url(../images/autoban.jpg) -100px -320px no-repeat;
    }

    @include font-nunito;

    .sec-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-left: 20px;

        @media (max-width: $screen-lg-max) {
            margin-left: 0;
        }

        h3 {
            text-transform: uppercase;

            @media (max-width: $screen-md-max) {
                font-size: 1.4rem;
            }
        }

        .sec {
            display: flex;
            flex-direction: column;
        }

        .sec-1 {
            width: 40%;
            min-width: 200px;

            @media (max-width: $screen-lg-max) {
                width: 80%;
            }
        }

        .sec-2 {
            width: 40%;
            min-width: 200px;

            @media (max-width: $screen-lg-max) {
                width: 80%;
                margin-top: 40px;
            }
        }

        @media (max-width: $screen-lg-max) {
            flex-direction: column;
        }
    }

    table {
        width: 100%;
        margin-top: 20px;
        text-align: left;

        td {
            padding: 7.5px;
            text-align: right;
        }

        .money {
            &::after {
                content: " $";
            }
        }

        .accent {
            font-size: 22px;
            font-weight: bold;
            color: #d2333a;

            @media (max-width: $screen-md-max) {
                font-size: 32px;
            }
        }
    }

    .cars-wrapper {
        flex-grow: 1;
        overflow: hidden;
    }

    .cars {
        display: flex;
        flex-direction: column;
        height: 70%;
        overflow-y: scroll;

        //firefox
        scrollbar-width: thin;

        .car-item {
            position: relative;
            display: inline-flex;
            width: 100%;
            margin-top: 20px;
            background: #eae5c8;
        }

        .car-item:first-child {
            margin-top: 0;
        }

        .car-info {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            text-align: right;
        }

        .car-price {
            position: absolute;
            right: 0;
            bottom: -20px;
            display: block;
            width: fit-content;
            padding: 2px 10px;
            margin: 2px;
            font-size: 0.75rem;
            color: white;
            background: black;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            @media (max-width: $screen-md-max) {
                font-size: 1rem;
            }
        }

        .car-price::after {
            content: " $";
        }
    }

    .replenish-button {
        width: 200px;
        padding: 10px;
        margin-top: 40px;
        font-weight: bold;
        color: white;
        background: var(--orange);
    }

    .replenish-button:hover {
        background: var(--orange-darken);
    }

    .replenish-button:active {
        background: var(--orange);
    }

    h2 {
        font-size: 26px;
        text-transform: uppercase;

        @media (max-width: $screen-md-max) {
            font-size: 28px;
        }
    }

    @media (max-width: $screen-md-max) {
        background:
            linear-gradient(216.68deg, #fff 70%, rgba(255, 255, 255, 0) 100%),
            url(../images/autoban.jpg) -100px -400px no-repeat;
    }
}

.characters {
    display: flex;
    flex-direction: column;
    grid-area: panel;
    justify-content: space-evenly;
    max-height: 250px;
    padding: 20px 0;

    input {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 64px;
        background: var(--bg-color-light);
        transition: background-color $transition-regular-speed ease-in-out;

        .char-img {
            width: 52px;
        }
    }

    input:checked ~ label {
        background: #7bbcff;

        .char-img {
            border: 4px solid var(--red);
            border-radius: 50%;
        }
    }
}
