@import 'vars';
@import 'elements';

$transition-regular-speed: .5s;
$font-size-buttons-big: 1.4rem;
$vertical-margin: 6rem;

.main-outer {
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(270deg, var(--bg-color-1) -0.9%, var(--bg-color-2) 108.03%);

    .main-inner {
        position: relative;
        margin-top: 12rem;

        .content {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            max-width: 80%;
            text-transform: uppercase;

            @media (max-width: $screen-lg-max) {
                max-width: 100%;
            }

            .main-heading {
                z-index: 5;
                font-size: 106px;
                font-weight: bold;
                color: #400e1e;
                text-shadow:
                    -5px -5px 0 #e4e3e3,
                    5px -5px 0 #e4e3e3,
                    -5px 5px 0 #e4e3e3,
                    5px 5px 0 #e4e3e3;
                letter-spacing: -0.08em;
            }

            h2 {
                z-index: 5;
                font-size: 60px;
                font-weight: bold;

                @include font-nunito;

                .h2-1 {
                    font-size: 60px;
                    color: #b20910;

                    @media (max-width: $screen-sm-max) {
                        text-shadow:
                            -2px -2px 0 #e4e3e3,
                            2px -2px 0 #e4e3e3,
                            -2px 2px 0 #e4e3e3,
                            2px 2px 0 #e4e3e3;
                    }
                }

                .h2-2 {
                    font-size: 48px;

                    @media (max-width: $screen-md-max) {
                        text-shadow:
                            -2px -2px 0 #e4e3e3,
                            2px -2px 0 #e4e3e3,
                            -2px 2px 0 #e4e3e3,
                            2px 2px 0 #e4e3e3;
                    }
                }

                .h2-3 {
                    @media (max-width: $screen-md-max) {
                        text-shadow:
                            -2px -2px 0 #e4e3e3,
                            2px -2px 0 #e4e3e3,
                            -2px 2px 0 #e4e3e3,
                            2px 2px 0 #e4e3e3;
                    }
                }

                @media (max-width: $screen-md) {
                    min-width: 50%;
                }
            }

            .blood-drop {
                position: absolute;
                top: -95px;
                left: -95px;
                z-index: 0;
            }

            .card-wrapper {
                display: grid;
                grid-template:
                    "a b b . ." 100px
                    "a b b . ." 100px
                    "a d d d ."  100px
                    "a d d d c" 100px/300px 3fr 3fr 1fr 200px;
                column-gap: 25px;
                margin-top: 20px;

                @media (max-width: $screen-lg-max) {
                    grid-template:
                        "a b b ." 100px
                        "a b b c" 100px
                        "a d d d" 100px
                        "a d d d" 100px/300px 3fr 3fr 200px;

                    .donate {
                        margin-bottom: 20px;
                    }

                    .text {
                        display: none;
                    }
                }

                .card-bg {
                    position: relative;
                    z-index: 10;
                    display: flex;
                    flex-shrink: 0;
                    background: #d2333a;
                    border-radius: 5px;
                    mix-blend-mode: color-dodge;
                }

                .card {
                    position: relative;
                    z-index: 10;
                    display: flex;
                    flex-shrink: 0;
                    border-radius: 5px;
                }

                .counters {
                    flex-direction: column;
                    grid-area: a;
                    max-width: available;
                    height: 400px;
                    text-align: center;

                    .picture-wrapper {
                        position: relative;
                        width: 80%;
                        height: 220px;
                        margin: 20px auto;
                        overflow: hidden;
                        border-radius: 50%;

                        .online-picture {
                            position: absolute;
                            left: -140px;
                            width: 500px;
                            height: 285px;
                        }
                    }

                    .counter-title {
                        font-size: 26px;
                        font-weight: bold;
                    }

                    .counter {
                        font-size: 46px;
                        font-weight: bold;
                        color: #f14040;
                    }
                }

                .start {
                    position: relative;
                    grid-area: d;
                    align-items: center;
                    align-self: flex-end;
                    justify-content: center;
                    max-width: available;
                    height: 200px;

                    .start-button {
                        z-index: 15;
                        width: 80%;
                        height: 40%;
                        font-size: 32px;
                        font-weight: bold;
                        color: white;
                        background-image: linear-gradient(244.65deg, var(--bg-color-1) 4.53%, var(--bg-color-2) 92.93%);
                        transition: all 0.5s ease-out;

                        @media (max-width: $screen-md) {
                            font-size: 28px;
                        }
                    }

                    .start-button:hover {
                        transform: scale(0.95);
                    }

                    .start-button:active {
                        transform: scale(1);
                    }

                    .button-layout {
                        position: absolute;
                        width: 82%;
                        height: 46%;
                        margin: auto;
                        border: 6px solid;
                        border-image-source: linear-gradient(to left, var(--bg-color-1), var(--bg-color-2));
                        border-image-slice: 1;
                    }
                }

                .donate {
                    grid-area: c;
                    align-items: center;
                    align-self: flex-end;
                    justify-content: center;
                    justify-self: flex-end;
                    min-width: 200px;
                    max-width: available;
                    height: 100px;

                    .donate-button {
                        z-index: 10;
                        width: 80%;
                        height: 60%;
                        font-size: 22px;
                        font-weight: bold;
                        color: #f14040;
                        background: #faff11;
                        mix-blend-mode: difference;
                        transition: background-color $transition-regular-speed ease-in-out;
                    }

                    .donate-button:hover {
                        background: #bcc10c;
                    }

                    .donate-button:active {
                        background: #faff11;
                    }
                }

                .text {
                    z-index: 5;
                    grid-area: b;
                    align-self: flex-end;
                    width: 200px;
                    margin-bottom: 20px;
                    font-size: 32px;
                    font-weight: bold;

                    .accent {
                        font-size: 42px;
                        color: #f14040;
                    }

                    @include font-nunito;
                }

                @media (max-width: $screen-lg-max) {
                    .text {
                        font-size: 24px;

                        .accent {
                            font-size: 28px;
                        }
                    }
                }

                @media (max-width: $screen-md + 67px) {
                    .text {
                        display: none;
                    }
                }
            }
        }

        .img-frame {
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;
            z-index: 0;
            width: 600px;
            height: 600px;
            margin-top: auto;
            margin-bottom: auto;
            overflow: hidden;
            border-radius: 50%;

            @media (max-width: $screen-md) {
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
            }

            .city-img {
                position: absolute;
                top: -25px;
                left: -380px;
                z-index: 0;
                transition: 4s;
            }
        }
    }
}

.start-outer {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: available;
    background-image: linear-gradient(270deg, var(--bg-color-2) -0.9%, var(--bg-color-1) 108.03%);

    .start-inner {
        box-sizing: border-box;
        display: grid;
        grid-template: "step-1 step-2 step-3" 1fr/1fr 1fr 1fr;
        column-gap: 36px;
        justify-content: center;
        width: 100%;
        margin: $vertical-margin auto;

        @media (max-width: $screen-md-max) {
            grid-template:
                "step-1" auto
                "step-2" auto
                "step-3" auto/1fr;
            row-gap: 40px;
            column-gap: 0;
        }

        .step-card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 240px;
            height: fit-content;
            min-height: 150px;
            padding: 12% 10% 5%;
            background: white;
            border-radius: 5px;

            .card-heading {
                font-size: 24px;
                font-weight: bold;
                color: #400e1e;
                text-transform: uppercase;

                @include font-nunito;

                .accent {
                    font-size: 32px;
                    color: #d2333a;
                }
            }

            .card-button {
                padding: 10px 10px;
                margin-top: 20px;
                font-size: 20px;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
                border-radius: 5px;
                transition: background-color $transition-regular-speed ease-in-out;

                @media (max-width: $screen-md-max) {
                    font-size: 28px;
                }
            }

            @media (max-width: $screen-md-max) {
                max-width: 50%;
                margin: 0 auto;
            }

            .card-description {
                margin-top: 20px;
                font-size: 20px;
            }
        }

        .step-card::before {
            position: absolute;
            top: -32px;
            right: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            margin: auto;
            font-size: 58px;
            color: white;
            border-radius: 50%;
        }

        .step-1 {
            background:
                linear-gradient(180.15deg, #fff 70%, rgba(255, 255, 255, 0) 90%),
                url(../images/step-1.png) no-repeat -80px 80px scroll;
            background-size: 750px;

            .card-button {
                background: #400e1e;
            }

            .card-button:hover {
                background: #5f122a;
            }

            .card-button:active {
                background: #400e1e;
            }
        }

        .step-1::before {
            content: "1";
            background: #400e1e;
        }

        .step-2 {
            background:
                linear-gradient(180.15deg, #fff 70%, rgba(255, 255, 255, 0) 90%),
                url(../images/step-2.png) no-repeat -80px 80px scroll;
            background-size: 750px;

            .card-button {
                background: #b20910;
            }

            .card-button:hover {
                background: #860a0e;
            }

            .card-button:active {
                background: #b20910;
            }
        }

        .step-2::before {
            content: "2";
            background: #b20910;
        }

        .step-3 {
            background:
                linear-gradient(180.15deg, #fff 70%, rgba(255, 255, 255, 0) 90%),
                url(../images/step-3.png) no-repeat -130px 200px scroll;
            background-size: 800px;

            .card-button {
                background: #dd5d00;
            }

            .card-button:hover {
                background: #b34c01;
            }

            .card-button:active {
                background: #dd5d00;
            }

            @media (max-width: $screen-md-max) {
                background:
                    linear-gradient(180.15deg, #fff 70%, rgba(255, 255, 255, 0) 90%),
                    url(../images/step-3.png) no-repeat -150px 180px scroll;
                background-size: 800px;
            }

            @media (max-width: $screen-md) {
                background:
                    linear-gradient(180.15deg, #fff 70%, rgba(255, 255, 255, 0) 78.18%),
                    url(../images/step-3.png) no-repeat -110px 260px scroll;
                background-size: 600px;
            }
        }

        .step-3::before {
            content: "3";
            background: #dd5d00;
        }
    }
}

.shop-outer {
    flex-direction: column;
    background-image: linear-gradient(270deg, var(--bg-color-1) -0.9%, var(--bg-color-2) 108.03%);

    .shop-inner {
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        padding: 0;

        .form-wrapper {
            display: grid;
            grid-template:
                "form" 1fr
                "price" 1fr/1fr/1fr;
            min-width: 70%;
            max-width: 80%;
        }

        .payment-form {
            margin: 50px 0;
            background:
                linear-gradient(184.7deg, #fff 32.74%, rgba(255, 255, 255, 0) 86.47%),
                linear-gradient(264.37deg, #fff 13.7%, rgba(255, 255, 255, 0) 53.07%),
                url(../images/shop.png) no-repeat -25px -350px scroll;
            border-radius: 5px;
        }

        .price {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-self: flex-start;
            width: 250px;
            padding: 20px;
            margin-bottom: 250px;
            font-size: 20px;
            font-weight: bold;
            color: #400e1e;
            text-align: center;
            background:
                linear-gradient(27deg, #fff 50%, rgba(255, 255, 255, 0) 60%),
                url(../images/shop.png) no-repeat 90px -150px scroll;
            background-size: 500px;
            border-radius: 5px;

            .accent {
                color: #d2333a;
                text-transform: uppercase;
            }

            .price-label {
                margin: 5px 0;
            }
        }
    }
}
