:root {
    --bg-color-1: #70fbb8;
    --bg-color-2: #0f98e4;
    --bg-color-light: #e4e3e3;
    --white: white;
    --yellow: #f2c94c;
    --yellow-darken: #997d32;
    --red: #eb5757;
    --orange: #f2994a;
    --orange-darken: #a46932;
}

//main font
@mixin font-libre-franklin {
    font-family: 'Libre Franklin', sans-serif;
}

//main font
@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin font-nunito {
    font-family: 'Nunito', sans-serif;
}

//button's font
@mixin segoe {
    font-family: 'R2', sans-serif;
}

//container's width
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
